.carousels {
    width: 100%;
    height: 200px;

    .zp-carousel {
        height: inherit;
        overflow: hidden;
        margin:0 auto;
       
        // 按钮
        .left-btn {
            left: 0;
            top: 48%;
            z-index: 1;
        }

        .right-btn {
            right: 0;
            top: 48%;
            z-index: 1;
        }

        .zp-carousel-box {
            height: inherit;
            background: #ccc;
            overflow: hidden;
            margin: 0 auto;
            display:flex;


            .zp-carousel-item {
                height: inherit;
                // width: 300px;
                background: #afa5a5;
                display: inline-block;
                text-align: center;
                // position: absolute;
                // background: url("./img/中间.png");
            }
        }
    }
}